<!-- 
<header  style = "background-color: black; display: flex; justify-content: center; width: 100%; height: 15;">
    <div id="buttons-container">
        <a id="ingresar" routerLink="/Pedidos" style="color: white;">CRUD PEDIDOS</a>
        <a id="registrarse" routerLink="/Libros" style="color: white;">CRUD LIBROS</a>
      </div>
</header> -->

<header>
    <nav>
      <ul>
        <li><a routerLink="/clientes" >CRUD CLIENTES</a></li>
        <li><a routerLink="/libros">CRUD LIBROS</a></li>
        <li><a routerLink="/pedidos">PEDIDOS</a></li>
        <li><a routerLink="/consulta">CONSULTA</a></li>
        
      </ul>
    </nav>
    <!-- <a routerLink="/consulta">CONSULTA</a> -->

    <!-- <div id="buttons-container">
        <a id="ingresar" routerLink="/clientes">INGRESAR</a>
        <a id="registrarse" routerLink="/libros">REGÍSTRATE</a>
      </div> -->
  </header>